Argix08.User/Argix08.DeliveryPoints.Win/Service References/Terminals/DeliveryPointsDS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Argix.Terminals" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Argix.Terminals" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DeliveryPoints">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryPoint" nillable="true" type="tns:DeliveryPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryPoints" nillable="true" type="tns:DeliveryPoints" />
  <xs:complexType name="DeliveryPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Appt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Building" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CloseTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Command" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OpenTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Route" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceTimeFactor" type="xs:decimal" />
      <xs:element minOccurs="0" name="SetupTime" type="xs:int" />
      <xs:element minOccurs="0" name="Stop" nillable="true" type="tns:Stop" />
      <xs:element minOccurs="0" name="StopAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopClose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopNickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopOpen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopZip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryPoint" nillable="true" type="tns:DeliveryPoint" />
  <xs:complexType name="Stop">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Close" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Open" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stop" nillable="true" type="tns:Stop" />
</xs:schema>