ArgixDirect08/Freight/App_WebReferences/Argix/Freight/Freight.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://Argix.Freight" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://Argix.Freight" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Argix.Freight/Imports">
      <xsd:import schemaLocation="http://localhost:45413/Argix08.FreightServices/Freight.svc?xsd=xsd0" namespace="http://Argix.Freight" />
      <xsd:import schemaLocation="http://localhost:45413/Argix08.FreightServices/Freight.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Argix" />
      <xsd:import schemaLocation="http://localhost:45413/Argix08.FreightServices/Freight.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:45413/Argix08.FreightServices/Freight.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:45413/Argix08.FreightServices/Freight.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:45413/Argix08.FreightServices/Freight.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Argix.Freight" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFreightService_GetUserConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserConfiguration" />
  </wsdl:message>
  <wsdl:message name="IFreightService_GetUserConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IFreightService_GetUserConfiguration_ConfigurationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Argix" name="detail" element="q1:ConfigurationFault" />
  </wsdl:message>
  <wsdl:message name="IFreightService_WriteLogEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteLogEntry" />
  </wsdl:message>
  <wsdl:message name="IFreightService_GetTerminalInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminalInfo" />
  </wsdl:message>
  <wsdl:message name="IFreightService_GetTerminalInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminalInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IFreightService_GetTerminals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminals" />
  </wsdl:message>
  <wsdl:message name="IFreightService_GetTerminals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminalsResponse" />
  </wsdl:message>
  <wsdl:message name="IFreightService_GetInboundFreight_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInboundFreight" />
  </wsdl:message>
  <wsdl:message name="IFreightService_GetInboundFreight_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInboundFreightResponse" />
  </wsdl:message>
  <wsdl:message name="IFreightService_GetInboundShipment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInboundShipment" />
  </wsdl:message>
  <wsdl:message name="IFreightService_GetInboundShipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInboundShipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IFreightService_GetStationAssignments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationAssignments" />
  </wsdl:message>
  <wsdl:message name="IFreightService_GetStationAssignments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationAssignmentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IFreightService">
    <wsdl:operation name="GetUserConfiguration">
      <wsdl:input wsaw:Action="http://Argix.Freight/IFreightService/GetUserConfiguration" message="tns:IFreightService_GetUserConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Freight/IFreightService/GetUserConfigurationResponse" message="tns:IFreightService_GetUserConfiguration_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.ConfigurationFault" name="ConfigurationFaultFault" message="tns:IFreightService_GetUserConfiguration_ConfigurationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteLogEntry">
      <wsdl:input wsaw:Action="http://Argix.Freight/IFreightService/WriteLogEntry" message="tns:IFreightService_WriteLogEntry_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTerminalInfo">
      <wsdl:input wsaw:Action="http://Argix.Freight/IFreightService/GetTerminalInfo" message="tns:IFreightService_GetTerminalInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Freight/IFreightService/GetTerminalInfoResponse" message="tns:IFreightService_GetTerminalInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTerminals">
      <wsdl:input wsaw:Action="http://Argix.Freight/IFreightService/GetTerminals" message="tns:IFreightService_GetTerminals_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Freight/IFreightService/GetTerminalsResponse" message="tns:IFreightService_GetTerminals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInboundFreight">
      <wsdl:input wsaw:Action="http://Argix.Freight/IFreightService/GetInboundFreight" message="tns:IFreightService_GetInboundFreight_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Freight/IFreightService/GetInboundFreightResponse" message="tns:IFreightService_GetInboundFreight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInboundShipment">
      <wsdl:input wsaw:Action="http://Argix.Freight/IFreightService/GetInboundShipment" message="tns:IFreightService_GetInboundShipment_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Freight/IFreightService/GetInboundShipmentResponse" message="tns:IFreightService_GetInboundShipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationAssignments">
      <wsdl:input wsaw:Action="http://Argix.Freight/IFreightService/GetStationAssignments" message="tns:IFreightService_GetStationAssignments_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Freight/IFreightService/GetStationAssignmentsResponse" message="tns:IFreightService_GetStationAssignments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>