Argix08.User/Argix08.MobileDevices.Win/Service References/Terminals/MobileDevicesService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Argix.Terminals" elementFormDefault="qualified" targetNamespace="http://Argix.Terminals" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62775/Argix08.GlobalServices/MobileDevicesService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:62775/Argix08.GlobalServices/MobileDevicesService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Argix" />
  <xs:import schemaLocation="http://localhost:62775/Argix08.GlobalServices/MobileDevicesService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Argix.Enterprise" />
  <xs:import schemaLocation="http://localhost:62775/Argix08.GlobalServices/MobileDevicesService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Argix.Terminals" />
  <xs:element name="GetUserConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="usernames" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="GetUserConfigurationResult" nillable="true" type="q2:UserConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLogEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="m" nillable="true" type="q3:TraceMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Argix.Enterprise" minOccurs="0" name="GetTerminalInfoResult" nillable="true" type="q4:TerminalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalTerminals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalTerminalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetLocalTerminalsResult" nillable="true" type="q5:LocalTerminals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrivers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:long" />
        <xs:element minOccurs="0" name="mandatoryField" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetDriversResult" nillable="true" type="q6:LocalDrivers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="driverID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetDriverResult" nillable="true" type="q7:LocalDriver" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetDeviceItemsResult" nillable="true" type="q8:DeviceItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetDeviceItemResult" nillable="true" type="q9:DeviceItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriorDeviceItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriorDeviceItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetPriorDeviceItemsResult" nillable="true" type="q10:DeviceItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInstallationTypesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDeviceItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="item" nillable="true" type="q11:DeviceItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDeviceItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDeviceItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignDeviceItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="item" nillable="true" type="q12:DeviceItem" />
        <xs:element minOccurs="0" name="driverID" type="xs:int" />
        <xs:element minOccurs="0" name="installationType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="installationNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignDeviceItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignDeviceItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnassignDeviceItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="item" nillable="true" type="q13:DeviceItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnassignDeviceItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnassignDeviceItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatteryItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatteryItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetBatteryItemsResult" nillable="true" type="q14:BatteryItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatteryItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatteryItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetBatteryItemResult" nillable="true" type="q15:BatteryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatteryItemAssignments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatteryItemAssignmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetBatteryItemAssignmentsResult" nillable="true" type="q16:LocalDrivers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnassignedBatteryItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnassignedBatteryItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetUnassignedBatteryItemsResult" nillable="true" type="q17:BatteryItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBatteryItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="item" nillable="true" type="q18:BatteryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBatteryItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveBatteryItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartBatteryItemChargeCycle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="item" nillable="true" type="q19:BatteryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartBatteryItemChargeCycleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartBatteryItemChargeCycleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndBatteryItemChargeCycle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="item" nillable="true" type="q20:BatteryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndBatteryItemChargeCycleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndBatteryItemChargeCycleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignBatteryItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="assignment" nillable="true" type="q21:BatteryItemAssignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignBatteryItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignBatteryItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnassignBatteryItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="assignment" nillable="true" type="q22:BatteryItemAssignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnassignBatteryItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnassignBatteryItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetComponentTypesResult" nillable="true" type="q23:ComponentTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetComponentTypeResult" nillable="true" type="q24:ComponentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentTypeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mandatoryField" type="xs:boolean" />
        <xs:element minOccurs="0" name="categoryID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetComponentTypeListResult" nillable="true" type="q25:ComponentTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentTypeCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentTypeCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetComponentTypeCategoriesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComponentType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="ctype" nillable="true" type="q26:ComponentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComponentTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveComponentTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>