Argix08.User/Argix08.MobileDevices.Win/Service References/Terminals/MobileDevicesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Argix.Enterprise" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Argix.Enterprise" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TerminalInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Connection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminalInfo" nillable="true" type="tns:TerminalInfo" />
  <xs:complexType name="Driver">
    <xs:sequence>
      <xs:element minOccurs="0" name="BadgeID" type="xs:int" />
      <xs:element minOccurs="0" name="Carrier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarrierID" type="xs:long" />
      <xs:element minOccurs="0" name="DriverID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Terminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalID" type="xs:long" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Driver" nillable="true" type="tns:Driver" />
</xs:schema>