Argix08.User/Argix08.ShipScheduleTemplates.Win/Service References/AgentLineHaul/ShipScheduleService93.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Argix.Enterprise" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Argix.Enterprise" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TerminalInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Connection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminalInfo" nillable="true" type="tns:TerminalInfo" />
  <xs:complexType name="Terminals">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Terminal" nillable="true" type="tns:Terminal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Terminals" nillable="true" type="tns:Terminals" />
  <xs:complexType name="Terminal">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentID" type="xs:int" />
      <xs:element minOccurs="0" name="AgentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientDivision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DBServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DBtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="LinkedServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationID" type="xs:long" />
      <xs:element minOccurs="0" name="Mnemonic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Terminal" nillable="true" type="tns:Terminal" />
  <xs:complexType name="Carriers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Carrier" nillable="true" type="tns:Carrier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carriers" nillable="true" type="tns:Carriers" />
  <xs:complexType name="Carrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="APNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarrierID" type="xs:int" />
      <xs:element minOccurs="0" name="CarrierNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarrierServiceID" type="xs:long" />
      <xs:element minOccurs="0" name="IsActive" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" type="xs:int" />
      <xs:element minOccurs="0" name="SCAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrier" nillable="true" type="tns:Carrier" />
  <xs:complexType name="Agents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent" nillable="true" type="tns:Agent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agents" nillable="true" type="tns:Agents" />
  <xs:complexType name="Agent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Shipper">
        <xs:sequence>
          <xs:element minOccurs="0" name="APNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AgentID" type="xs:int" />
          <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryScanStatus" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Mnemonic" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentID" type="xs:int" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransmitEBOL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Agent" nillable="true" type="tns:Agent" />
  <xs:complexType name="Shipper">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationID" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip4" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shipper" nillable="true" type="tns:Shipper" />
  <xs:complexType name="Shippers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shipper" nillable="true" type="tns:Shipper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shippers" nillable="true" type="tns:Shippers" />
</xs:schema>