Argix08.User/Argix08.ShipScheduleTemplates.Win/Service References/AgentLineHaul/ShipScheduleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Argix.AgentLineHaul" elementFormDefault="qualified" targetNamespace="http://Argix.AgentLineHaul" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61352/Argix08.GlobalServices/ShipScheduleService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:61352/Argix08.GlobalServices/ShipScheduleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Argix" />
  <xs:import schemaLocation="http://localhost:61352/Argix08.GlobalServices/ShipScheduleService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Argix.Enterprise" />
  <xs:import schemaLocation="http://localhost:61352/Argix08.GlobalServices/ShipScheduleService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" />
  <xs:import schemaLocation="http://localhost:61352/Argix08.GlobalServices/ShipScheduleService.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetUserConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="usernames" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="GetUserConfigurationResult" nillable="true" type="q2:UserConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLogEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="m" nillable="true" type="q3:TraceMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Argix.Enterprise" minOccurs="0" name="GetTerminalInfoResult" nillable="true" type="q4:TerminalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Argix.Enterprise" minOccurs="0" name="GetTerminalsResult" nillable="true" type="q5:Terminals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippersAndTerminals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippersAndTerminalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Argix.Enterprise" minOccurs="0" name="GetShippersAndTerminalsResult" nillable="true" type="q6:Terminals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarriers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarriersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Argix.Enterprise" minOccurs="0" name="GetCarriersResult" nillable="true" type="q7:Carriers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Argix.Enterprise" minOccurs="0" name="GetAgentsResult" nillable="true" type="q8:Agents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Argix.Enterprise" minOccurs="0" name="GetShippersResult" nillable="true" type="q9:Shippers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDaysOfWeek">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDaysOfWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDaysOfWeekResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeekday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="weekdayName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeekdayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWeekdayResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTemplatesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" minOccurs="0" name="template" nillable="true" type="q10:ShipScheduleTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" minOccurs="0" name="template" nillable="true" type="q11:ShipScheduleTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExportDefinition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExportDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/Message" name="GetExportDefinitionResult" type="q12:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>