Argix08.User/Argix08.ShipScheduleTemplates.Win/Service References/AgentLineHaul/ShipScheduleService96.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ShipScheduleFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShipScheduleFault" nillable="true" type="tns:ShipScheduleFault" />
  <xs:complexType name="ShipScheduleTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentTerminalID" type="xs:long" />
      <xs:element minOccurs="0" name="Carrier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarrierServiceID" type="xs:long" />
      <xs:element minOccurs="0" name="DayOfTheWeek" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IsActive" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IsMandatory" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="MainZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S2AgentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S2AgentTerminalID" type="xs:long" />
      <xs:element minOccurs="0" name="S2MainZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S2Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S2ScheduledArrivalDateOffset" type="xs:unsignedByte">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="S2ScheduledArrivalTime" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="S2ScheduledOFD1Offset" type="xs:unsignedByte">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="S2StopID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S2StopNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S2Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduledArrivalDateOffset" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ScheduledArrivalTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ScheduledCloseDateOffset" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ScheduledCloseTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ScheduledDepartureDateOffset" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ScheduledDepartureTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ScheduledOFD1Offset" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SortCenter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortCenterID" type="xs:long" />
      <xs:element minOccurs="0" name="Stop1LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Stop1RowVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stop1User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stop2LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Stop2RowVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stop2User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateLastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TemplateRowVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShipScheduleTemplate" nillable="true" type="tns:ShipScheduleTemplate" />
</xs:schema>