ArgixDirect08/Tracking/App_WebReferences/Imaging/imageservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.argixdirect.com/Tracking/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://www.argixdirect.com/Tracking/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.argixdirect.com/Tracking/">
      <s:element name="GetSharePointImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docClass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSharePointImageResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSharePointImageStream">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docClass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSharePointImageStreamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSharePointImageStreamResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchSharePointImageStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docClass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchSharePointImageStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchSharePointImageStoreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestImageResponse">
        <s:complexType />
      </s:element>
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSharePointImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetSharePointImage" />
  </wsdl:message>
  <wsdl:message name="GetSharePointImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetSharePointImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetSharePointImageStreamSoapIn">
    <wsdl:part name="parameters" element="tns:GetSharePointImageStream" />
  </wsdl:message>
  <wsdl:message name="GetSharePointImageStreamSoapOut">
    <wsdl:part name="parameters" element="tns:GetSharePointImageStreamResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSharePointImageStoreSoapIn">
    <wsdl:part name="parameters" element="tns:SearchSharePointImageStore" />
  </wsdl:message>
  <wsdl:message name="SearchSharePointImageStoreSoapOut">
    <wsdl:part name="parameters" element="tns:SearchSharePointImageStoreResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestImage" />
  </wsdl:message>
  <wsdl:message name="GetTestImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetSharePointImageHttpGetIn">
    <wsdl:part name="docClass" type="s:string" />
    <wsdl:part name="propertyName" type="s:string" />
    <wsdl:part name="searchText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSharePointImageHttpGetOut" />
  <wsdl:message name="GetSharePointImageStreamHttpGetIn">
    <wsdl:part name="docClass" type="s:string" />
    <wsdl:part name="propertyName" type="s:string" />
    <wsdl:part name="searchText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSharePointImageStreamHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="SearchSharePointImageStoreHttpGetIn">
    <wsdl:part name="docClass" type="s:string" />
    <wsdl:part name="propertyName" type="s:string" />
    <wsdl:part name="searchText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchSharePointImageStoreHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetTestImageHttpGetIn">
    <wsdl:part name="file" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTestImageHttpGetOut" />
  <wsdl:message name="GetSharePointImageHttpPostIn">
    <wsdl:part name="docClass" type="s:string" />
    <wsdl:part name="propertyName" type="s:string" />
    <wsdl:part name="searchText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSharePointImageHttpPostOut" />
  <wsdl:message name="GetSharePointImageStreamHttpPostIn">
    <wsdl:part name="docClass" type="s:string" />
    <wsdl:part name="propertyName" type="s:string" />
    <wsdl:part name="searchText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSharePointImageStreamHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="SearchSharePointImageStoreHttpPostIn">
    <wsdl:part name="docClass" type="s:string" />
    <wsdl:part name="propertyName" type="s:string" />
    <wsdl:part name="searchText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchSharePointImageStoreHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetTestImageHttpPostIn">
    <wsdl:part name="file" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTestImageHttpPostOut" />
  <wsdl:portType name="ImageServiceSoap">
    <wsdl:operation name="GetSharePointImage">
      <wsdl:input message="tns:GetSharePointImageSoapIn" />
      <wsdl:output message="tns:GetSharePointImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSharePointImageStream">
      <wsdl:input message="tns:GetSharePointImageStreamSoapIn" />
      <wsdl:output message="tns:GetSharePointImageStreamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchSharePointImageStore">
      <wsdl:input message="tns:SearchSharePointImageStoreSoapIn" />
      <wsdl:output message="tns:SearchSharePointImageStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestImage">
      <wsdl:input message="tns:GetTestImageSoapIn" />
      <wsdl:output message="tns:GetTestImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImageServiceHttpGet">
    <wsdl:operation name="GetSharePointImage">
      <wsdl:input message="tns:GetSharePointImageHttpGetIn" />
      <wsdl:output message="tns:GetSharePointImageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSharePointImageStream">
      <wsdl:input message="tns:GetSharePointImageStreamHttpGetIn" />
      <wsdl:output message="tns:GetSharePointImageStreamHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchSharePointImageStore">
      <wsdl:input message="tns:SearchSharePointImageStoreHttpGetIn" />
      <wsdl:output message="tns:SearchSharePointImageStoreHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestImage">
      <wsdl:input message="tns:GetTestImageHttpGetIn" />
      <wsdl:output message="tns:GetTestImageHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImageServiceHttpPost">
    <wsdl:operation name="GetSharePointImage">
      <wsdl:input message="tns:GetSharePointImageHttpPostIn" />
      <wsdl:output message="tns:GetSharePointImageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSharePointImageStream">
      <wsdl:input message="tns:GetSharePointImageStreamHttpPostIn" />
      <wsdl:output message="tns:GetSharePointImageStreamHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchSharePointImageStore">
      <wsdl:input message="tns:SearchSharePointImageStoreHttpPostIn" />
      <wsdl:output message="tns:SearchSharePointImageStoreHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestImage">
      <wsdl:input message="tns:GetTestImageHttpPostIn" />
      <wsdl:output message="tns:GetTestImageHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImageServiceSoap" type="tns:ImageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSharePointImage">
      <soap:operation soapAction="https://www.argixdirect.com/Tracking/GetSharePointImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSharePointImageStream">
      <soap:operation soapAction="https://www.argixdirect.com/Tracking/GetSharePointImageStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSharePointImageStore">
      <soap:operation soapAction="https://www.argixdirect.com/Tracking/SearchSharePointImageStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestImage">
      <soap:operation soapAction="https://www.argixdirect.com/Tracking/GetTestImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImageServiceSoap12" type="tns:ImageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSharePointImage">
      <soap12:operation soapAction="https://www.argixdirect.com/Tracking/GetSharePointImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSharePointImageStream">
      <soap12:operation soapAction="https://www.argixdirect.com/Tracking/GetSharePointImageStream" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSharePointImageStore">
      <soap12:operation soapAction="https://www.argixdirect.com/Tracking/SearchSharePointImageStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestImage">
      <soap12:operation soapAction="https://www.argixdirect.com/Tracking/GetTestImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImageServiceHttpGet" type="tns:ImageServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetSharePointImage">
      <http:operation location="/GetSharePointImage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetSharePointImageStream">
      <http:operation location="/GetSharePointImageStream" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSharePointImageStore">
      <http:operation location="/SearchSharePointImageStore" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestImage">
      <http:operation location="/GetTestImage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImageServiceHttpPost" type="tns:ImageServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetSharePointImage">
      <http:operation location="/GetSharePointImage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetSharePointImageStream">
      <http:operation location="/GetSharePointImageStream" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSharePointImageStore">
      <http:operation location="/SearchSharePointImageStore" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestImage">
      <http:operation location="/GetTestImage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageService">
    <wsdl:port name="ImageServiceSoap" binding="tns:ImageServiceSoap">
      <soap:address location="http://rgxweb/sharepoint.search/imageservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ImageServiceSoap12" binding="tns:ImageServiceSoap12">
      <soap12:address location="http://rgxweb/sharepoint.search/imageservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ImageServiceHttpGet" binding="tns:ImageServiceHttpGet">
      <http:address location="http://rgxweb/sharepoint.search/imageservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ImageServiceHttpPost" binding="tns:ImageServiceHttpPost">
      <http:address location="http://rgxweb/sharepoint.search/imageservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>