Argix08.Tsort/Tsort08.User/Tsort08.VitaminSort.Win/Tsort08.VitaminSort.Win/Service References/Freight/TsortService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Argix.Freight.Tsort" elementFormDefault="qualified" targetNamespace="http://Argix.Freight.Tsort" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60128/Argix08.TsortService/TsortService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Argix.Freight.Tsort" />
  <xs:import schemaLocation="http://localhost:60128/Argix08.TsortService/TsortService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machinName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Argix.Freight.Tsort" minOccurs="0" name="GetStationResult" nillable="true" type="q1:Workstation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreightAssignments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="worhstationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreightAssignmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFreightAssignmentsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessInputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="inputs" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="weight" type="xs:decimal" />
        <xs:element minOccurs="0" name="damageCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeOverride" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="freightID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessInputsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Argix.Freight.Tsort" minOccurs="0" name="ProcessInputsResult" nillable="true" type="q3:SortedItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>