Argix08.Tsort/Tsort08.User/Tsort08.VitaminSort.Win/Tsort08.VitaminSort.Win/Service References/Freight/TsortService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Argix.Freight.Tsort" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Argix.Freight.Tsort" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Workstation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalID" type="xs:int" />
      <xs:element minOccurs="0" name="WorkStationID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Workstation" nillable="true" type="tns:Workstation" />
  <xs:complexType name="SortedItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="LabelZPL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SortedItem" nillable="true" type="tns:SortedItem" />
</xs:schema>