Argix08.Tsort/Tsort08.User/Tsort08.VitaminSort.Win/Tsort08.VitaminSort.Win/Service References/Freight/TsortService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://Argix.Freight.Tsort" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://Argix.Freight.Tsort" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Argix.Freight.Tsort/Imports">
      <xsd:import schemaLocation="http://localhost:60128/Argix08.TsortService/TsortService.svc?xsd=xsd0" namespace="http://Argix.Freight.Tsort" />
      <xsd:import schemaLocation="http://localhost:60128/Argix08.TsortService/TsortService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60128/Argix08.TsortService/TsortService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Argix.Freight.Tsort" />
      <xsd:import schemaLocation="http://localhost:60128/Argix08.TsortService/TsortService.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://localhost:60128/Argix08.TsortService/TsortService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITsortService_GetStation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStation" />
  </wsdl:message>
  <wsdl:message name="ITsortService_GetStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationResponse" />
  </wsdl:message>
  <wsdl:message name="ITsortService_GetFreightAssignments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFreightAssignments" />
  </wsdl:message>
  <wsdl:message name="ITsortService_GetFreightAssignments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFreightAssignmentsResponse" />
  </wsdl:message>
  <wsdl:message name="ITsortService_ProcessInputs_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessInputs" />
  </wsdl:message>
  <wsdl:message name="ITsortService_ProcessInputs_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessInputsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITsortService">
    <wsdl:operation name="GetStation">
      <wsdl:input wsaw:Action="http://Argix.Freight.Tsort/ITsortService/GetStation" message="tns:ITsortService_GetStation_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Freight.Tsort/ITsortService/GetStationResponse" message="tns:ITsortService_GetStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFreightAssignments">
      <wsdl:input wsaw:Action="http://Argix.Freight.Tsort/ITsortService/GetFreightAssignments" message="tns:ITsortService_GetFreightAssignments_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Freight.Tsort/ITsortService/GetFreightAssignmentsResponse" message="tns:ITsortService_GetFreightAssignments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessInputs">
      <wsdl:input wsaw:Action="http://Argix.Freight.Tsort/ITsortService/ProcessInputs" message="tns:ITsortService_ProcessInputs_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Freight.Tsort/ITsortService/ProcessInputsResponse" message="tns:ITsortService_ProcessInputs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>