Argix08.User/Argix08.Invoicing.Win/Service References/Finance/ClientDS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Argix.Finance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Argix.Finance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Invoices">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="tns:Invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoices" nillable="true" type="tns:Invoices" />
  <xs:complexType name="Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cartons" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceTypeTarget" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pallets" type="xs:int" />
      <xs:element minOccurs="0" name="PostToARDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReleaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
</xs:schema>