Argix08.User/Argix08.Invoicing.Win/Service References/Finance/InvoicingService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://Argix.Finance" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://Argix.Finance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Argix.Finance/Imports">
      <xsd:import schemaLocation="http://localhost:60203/Argix08.GlobalServices/InvoicingService.svc?xsd=xsd0" namespace="http://Argix.Finance" />
      <xsd:import schemaLocation="http://localhost:60203/Argix08.GlobalServices/InvoicingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Argix" />
      <xsd:import schemaLocation="http://localhost:60203/Argix08.GlobalServices/InvoicingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60203/Argix08.GlobalServices/InvoicingService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:60203/Argix08.GlobalServices/InvoicingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:60203/Argix08.GlobalServices/InvoicingService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Argix.Enterprise" />
      <xsd:import schemaLocation="http://localhost:60203/Argix08.GlobalServices/InvoicingService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Argix.Finance" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInvoicingService_GetUserConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserConfiguration" />
  </wsdl:message>
  <wsdl:message name="IInvoicingService_GetUserConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IInvoicingService_GetUserConfiguration_ConfigurationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Argix" name="detail" element="q1:ConfigurationFault" />
  </wsdl:message>
  <wsdl:message name="IInvoicingService_WriteLogEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteLogEntry" />
  </wsdl:message>
  <wsdl:message name="IInvoicingService_GetTerminalInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminalInfo" />
  </wsdl:message>
  <wsdl:message name="IInvoicingService_GetTerminalInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminalInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IInvoicingService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IInvoicingService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IInvoicingService_GetClientInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientInvoices" />
  </wsdl:message>
  <wsdl:message name="IInvoicingService_GetClientInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientInvoicesResponse" />
  </wsdl:message>
  <wsdl:portType name="IInvoicingService">
    <wsdl:operation name="GetUserConfiguration">
      <wsdl:input wsaw:Action="http://Argix.Finance/IInvoicingService/GetUserConfiguration" message="tns:IInvoicingService_GetUserConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Finance/IInvoicingService/GetUserConfigurationResponse" message="tns:IInvoicingService_GetUserConfiguration_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.ConfigurationFault" name="ConfigurationFaultFault" message="tns:IInvoicingService_GetUserConfiguration_ConfigurationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteLogEntry">
      <wsdl:input wsaw:Action="http://Argix.Finance/IInvoicingService/WriteLogEntry" message="tns:IInvoicingService_WriteLogEntry_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTerminalInfo">
      <wsdl:input wsaw:Action="http://Argix.Finance/IInvoicingService/GetTerminalInfo" message="tns:IInvoicingService_GetTerminalInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Finance/IInvoicingService/GetTerminalInfoResponse" message="tns:IInvoicingService_GetTerminalInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://Argix.Finance/IInvoicingService/GetClients" message="tns:IInvoicingService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Finance/IInvoicingService/GetClientsResponse" message="tns:IInvoicingService_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientInvoices">
      <wsdl:input wsaw:Action="http://Argix.Finance/IInvoicingService/GetClientInvoices" message="tns:IInvoicingService_GetClientInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Finance/IInvoicingService/GetClientInvoicesResponse" message="tns:IInvoicingService_GetClientInvoices_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>