Argix08.User/Argix08.IssueMgt.Win/Service References/Customers/IssueMgtService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Argix.Customers" elementFormDefault="qualified" targetNamespace="http://Argix.Customers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50054/Argix08.CustomerServices/IssueMgtService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Argix.Enterprise" />
  <xs:import schemaLocation="http://localhost:50054/Argix08.CustomerServices/IssueMgtService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Argix.Customers" />
  <xs:import schemaLocation="http://localhost:50054/Argix08.CustomerServices/IssueMgtService.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetOSDScans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cProID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOSDScansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOSDScansResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="ScanDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/ScanDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPODScans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cProID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPODScansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPODScansResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="ScanDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/ScanDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContacts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContactsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="ContactDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/ContactDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsForLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
        <xs:element minOccurs="0" name="regionNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="districtNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsForLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContactsForLocationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="ContactDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/ContactDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contactID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Argix.Enterprise" minOccurs="0" name="GetContactResult" nillable="true" type="q1:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Argix.Enterprise" minOccurs="0" name="contact" nillable="true" type="q2:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateContactResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Argix.Enterprise" minOccurs="0" name="contact" nillable="true" type="q3:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Argix.Enterprise" minOccurs="0" name="GetTerminalInfoResult" nillable="true" type="q4:TerminalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueCategorys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueCategorysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIssueCategorysResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="IssueTypeDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/IssueTypeDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueCategory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIssueTypesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="IssueTypeDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/IssueTypeDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIssueTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActionTypesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="ActionTypeDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/ActionTypeDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueActionTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueActionTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIssueActionTypesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="ActionTypeDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/ActionTypeDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActionTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIssuesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="IssueDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/IssueDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuesForDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuesForDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIssuesForDateResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="IssueDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/IssueDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Argix.Customers" minOccurs="0" name="GetIssueResult" nillable="true" type="q5:Issue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueActions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Argix.Customers" minOccurs="0" name="GetIssueActionsResult" nillable="true" type="q6:Actions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueID" type="xs:long" />
        <xs:element minOccurs="0" name="actionID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Argix.Customers" minOccurs="0" name="GetActionsResult" nillable="true" type="q7:Actions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueAttachments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueAttachmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Argix.Customers" minOccurs="0" name="GetIssueAttachmentsResult" nillable="true" type="q8:Attachments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueID" type="xs:long" />
        <xs:element minOccurs="0" name="actionID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Argix.Customers" minOccurs="0" name="GetAttachmentsResult" nillable="true" type="q9:Attachments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAttachmentResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Argix.Customers" minOccurs="0" name="issue" nillable="true" type="q10:Issue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateIssueResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIssueAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeID" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="issueID" type="xs:long" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIssueActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateIssueActionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIssueAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bytes" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="issueID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIssueAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateIssueAttachmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Argix.Customers" minOccurs="0" name="issue" nillable="true" type="q11:Issue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateIssueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchIssues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchIssuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchIssuesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="IssueDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/IssueDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchIssuesAdvanced">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="criteria" nillable="true" type="q12:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchIssuesAdvancedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchIssuesAdvancedResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="IssueDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/IssueDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompaniesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="CompanyDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/CompanyDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCompanies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activeOnly" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActiveCompaniesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="CompanyDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/CompanyDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompanyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistricts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDistrictsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="LocationDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/LocationDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRegionsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="LocationDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/LocationDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAgentsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="AgentDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/AgentDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentsForClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentsForClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAgentsForClientResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="AgentDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/AgentDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
        <xs:element minOccurs="0" name="storeNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStoreDetailResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="StoreDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/StoreDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubStoreDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
        <xs:element minOccurs="0" name="subStore" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubStoreDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSubStoreDetailResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="StoreDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/StoreDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
        <xs:element minOccurs="0" name="storeNumber" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeliveriesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DeliveryDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/DeliveryDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
        <xs:element minOccurs="0" name="storeNumber" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
        <xs:element minOccurs="0" name="proID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeliveryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DeliveryDS" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/DeliveryDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>